// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors:
$green-primary : #31B097;
$light-brown-primary : #D4CEBC;
$brown-primary : #5E4A43;
$taupe-primary : #7A7777;
