<div class="footer">
  <%= link_to "https://www.instagram.com/les_aleas_d_une_vie_de_chien/?hl=fr", target: :_blank do %>
    <i class="fa-brands fa-instagram"></i>
  <% end %>
  <%= link_to "https://github.com/JeanneEnnaej", target: :_blank do %>
    <i class="fa-brands fa-github"></i>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/jeanne-desmier-6061a3a7/", target: :_blank do %>
    <i class="fa-brands fa-linkedin"></i>
  <% end %>
</div>
