// Import page-specific CSS files here.
@import "home";
@import "show";
@import "form_walk";
@import "sign_up";
@import "sign_in";

.my-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  .card-map-container {
    display: flex;
  }
  .card-container {
    width: 50vw;
  }
  a {
    text-decoration: none;

  }

  .new-walk {
    margin-left: 5%;
    width: 20%;
    cursor: pointer;
    color: $green-primary;
    font-size: 16px;
    height: 16px;
    &:hover {
      color: black;
    }
  }
  .fa-solid{
    color: $green-primary;
  }
  .map {
    width: 50vw;
    height:100vh;
    position: sticky;
    top: 0;
    margin-bottom: 2%;
    margin-top: 1.5%;
  }
}
