// Import page-specific CSS files here.
@import "home";
@import "show";
@import "sign-up";
@import "sign-in";
@import "walk-rating";
@import "new";

.my-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;

  .card-map-container {
    display: flex;

  }
  .card-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 0.4%;
    .add-walk{
      display: flex;
      a {
        color: $green-primary;
        text-align: start;
        margin-left: 2%;
        margin-bottom: 0.5%;
      }
    }
  }
  a {
    text-decoration: none;
  }

  .new-walk {
    margin-left: 5%;
    width: 20%;
    margin-bottom: 2%;
    cursor: pointer;
    color: $green-primary;
    font-size: 1rem;
    height: 1rem;
    &:hover {
      color: black;
    }
  }
  .fa-solid{
    color: $green-primary;
  }
  .map {
    width: 50vw;
    height:100vh;
    position: sticky;
    top: 0;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

.card-container.abc {
  margin-top: 1.5%;
}
