.new-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    color: black;
  }
}

.form-walk {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .simple_from {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-form{
    display: flex;
    justify-content: center;
    column-gap: 4.375rem;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .btn {
    background-color: $green-primary;
    color: white;
    border-radius: 0.313rem;
    margin-top: 1rem;
  }
  #walk_title, #walk_num_km, #walk_duration, #walk_rating, #walk_address, #walk_content, #walk_link {
    border-radius: 0.313rem;
    padding-left: 0.75rem;
    border: 0.125rem solid black;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  select {
    .date{
      border: 0.125rem solid $green-primary;
    }
  }
}
.left-content {
  p {
    color: $green-primary;
  }
}
.right-content{
  .input {
    margin-bottom: 1.75rem;
  }
  input::file-selector-button {
    background-color: $light-brown-primary;
    color: black;
    border: none;
    border-radius: 0.313rem;
    padding: 0.5rem 0.75rem;
  }
  .positif {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .negatif {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .collection_check_boxes {
    margin-left: 0.625rem;
  }
  p {
    color: $green-primary;
  }
  .input.radio_buttons.optional.walk_status {
    display: flex;
    justify-content: space-around;
  }
  #walk_status_public {
    margin-right: 0.625rem;
  }
  #walk_status_privée {
    margin-right: 0.625rem;

  }

}
