.new-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.form-walk {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .simple_from {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-form{
    display: flex;
    justify-content: center;
    column-gap: 70px;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .btn {
    background-color: $green-primary;
    color: white;
    border-radius: 5px;
    margin-top: 16px;
  }
  #walk_title, #walk_num_km, #walk_duration, #walk_rating, #walk_address, #walk_content, #walk_link {
    border-radius: 5px;
    padding-left: 12px;
    border: 2px solid black;
  }

  p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  select {
    .date{
      border: 2px solid $green-primary;
    }
  }
}
.left-content {
  p {
    color: $green-primary;
  }
}
.right-content{
  .input {
    margin-bottom: 28px;
  }
  input::file-selector-button {
    background-color: $light-brown-primary;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
  }
  .positif {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .negatif {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .collection_check_boxes {
    margin-left: 10px;
  }
  p {
    color: $green-primary;
  }
  .input.radio_buttons.optional.walk_status {
    display: flex;
    justify-content: space-around;
  }
  #walk_status_public {
    margin-right: 10px;
  }
  #walk_status_privée {
    margin-right: 10px;

  }
}
