.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-actions {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  p {
    margin-bottom: 6px;
    margin-top: 12px;
  }
  #user_first_name, #user_last_name, #user_address, #user_email, #user_password, #user_password_confirmation {
    border: 2px solid $green-primary;
  }

  .btn {
    margin-top: 12px;
    background-color: $green-primary;
  }

  h2 {
    margin-top: 12px;
  }

  input::file-selector-button {
    background-color: $light-brown-primary;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 8px 12px;
  }

  .connec {
    margin-top: 12px;
    color: $green-primary
  }
}
