.sign-in-form {
  background-image: linear-gradient(rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.2)),url("https://res.cloudinary.com/dsp76osnf/image/upload/v1665588661/Capture_d_e%CC%81cran_2022-10-12_a%CC%80_17.30.49_f2ljeu.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-actions {
    display:flex;
    justify-content: center;
    align-items: center;
    .btn:hover {
      background-color: $light-brown-primary;
    }
  }
  p {
    margin-bottom: 0.375rem;
    margin-top: 0.75rem;
  }
  #user_first_name, #user_last_name, #user_address, #user_email, #user_password, #user_password_confirmation {
    border: 0.125rem solid $green-primary;
  }

  .btn {
    margin-top: 0.75rem;
    background-color: $green-primary;
  }

  h2 {
    margin-top: 0.75rem;
  }

  input::file-selector-button {
    background-color: $light-brown-primary;
    color: black;
    border: none;
    border-radius: 1.563rem;
    padding: 0.5rem 0.75rem;
  }

  .connec {
    margin-top: 0.75rem;
    color: black;
  }

}
