<p>Bienvenue sur votre page <%= current_user.first_name %></p>
<%= link_to "nouvelle balade", new_walk_path %>
<% unless @walks == nil %>
  <% @walks.each do |w| %>
    <%= w.title %>
    <% if w.photos.present? %>
      <%  w.photos.each do |p| %>
        <%= cl_image_tag p.key %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
