<%= render "navbar" %>

<div class="new-container">
  <h4>Créer une nouvelle balade</h4>

  <%= render "form_walk", walk: @walk %>

  <%= link_to 'Retour à ma page', walks_path %>

</div>


<%= render "footer" %>
