.avatar {
  width: 2.5rem;
  border-radius: 50%;
}
.avatar-large {
  width: 3.5rem;
  border-radius: 50%;
}
.avatar-bordered {
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0.063rem 0.125rem rgba(0,0,0,0.2);
  border: white 0.063rem solid;
}
.avatar-square {
  width: 2.5rem;
  border-radius: 0px;
  box-shadow: 0 0.063rem 0.125rem rgba(0,0,0,0.2);
  border: white 0.063rem solid;
}
