.banner {
  background-image: url("https://res.cloudinary.com/dsp76osnf/image/upload/v1666619129/IMG_0298_zi6un5.jpg") ;
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    background-color: $green-primary;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 150%;
  }
}
