.navbar {
  width: 80%;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  padding: 0 24px;

  .home-link > a {
    color: $brown-primary;
    img {
      width: 4vh;
      height: 4vh;
      border-radius: 50%;
    }
  }

  .buttons-navbar {
    display: flex;
    justify-items: center;
    align-items: center;
    color: black;
    column-gap: 8px;
    a {
      background-color: $light-brown-primary;
      padding: 8px 16px;
      border-radius: 25px;
      text-decoration: none;
      color: black;
    }

    img {
      width: 4vh;
      height: 4vh;
      border-radius: 50%;
      border: 1px solid black;
    }
  }

}
