.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  &.display-none {
    display: none;
  }

  .popup-card {
    background-color: white;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;
    width: 50%;
    height: 60%;
    position: absolute;
  }

  .cross {
    position: relative;
    top:-28%;
    left: 24%;
    cursor: pointer;
    color: $green-primary;
    font-size: 32px;
    height: 32px;
    &:hover {
      color: black;
    }
  }
  .form-walk {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .simple_from {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info-form{
      display: flex;
      justify-content: center;
      column-gap: 70px;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
    .btn {
      background-color: $green-primary;
      color: white;
      border-radius: 25px;
      margin-top: 16px;
    }
    #walk_title, #walk_num_km, #walk_duration, #walk_rating, #walk_address, #walk_content, #walk_link {
      border-radius: 20px;
      padding-left: 12px;
      border: 2px solid $green-primary;
    }

    p {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    select {
      .date{
        border: 2px solid $green-primary;
      }
    }
  }
  .right-content{
    .input {
      margin-bottom: 28px;
    }
    input::file-selector-button {
      background-color: $light-brown-primary;
      color: black;
      border: none;
      border-radius: 25px;
      padding: 8px 12px;
  }

  }
  .radio_buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
