.show-container {
  display: flex;
  width: 50vw;
  .show-card {
    width: 100%;
    height: 60vh;
    background-color: $light-brown-primary;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
  }

  .img-card {
    width:100%;
    height: 50%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .liste {
    width: 100%;
    display: flex;
    justify-content: space-around;
    p {
      margin: 0;
    }
  }
  .info {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-around;

  }
  .details {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 36px;
  }

  .show-link {
    display: flex;
    column-gap: 36px;
    a {
      color: $green-primary;
    }
  }
  .content-walk {
    margin-left: 12px;
    margin-right: 12px;
  }
  .extern-link2{
    a {
      padding-top: 12px;
    }

  }
}
